.wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  position: relative;
}

.burger {
  position: relative;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: #222935;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.burger button {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger button svg {
  width: 12px;
  height: 12px;
  background-color: #222935;
}
.panel {
  width: 250px;
  min-width: 55px;
  max-width: 250px;
  height: auto;
  background-color: #222935;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  height: auto;
  width: auto;
}
.closed {
  width: 55px !important;
  min-width: 55px !important;
  max-width: 55px !important;
  overflow: hidden;
}
