.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/yellow-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.contentBox {
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
