.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.title {
    text-align: left;
    padding:0px;
    width: 120px;
    height: 30px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #26C17E;
    margin-bottom: 2rem;
}
.content {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    text-align: justify;

}